{% extends "base.html.twig" %}

  {% block stylesheets %}
            <link rel="stylesheet" href="{{asset("css/createStyle.css")}}">
        {% endblock %}

{% block body %} 
<h1 class="text-white text-center m-4">More about the {{ event.name|title }}</h1>

<fieldset>
<div class="card mb-3 border-0 card1" style="max-width: 600px;">
  <img src="{{asset(event.picture)}}"  class="card-img-top text-white" alt="{{ event.name|title }}">
  <div class="card-body">
    <h5 class="card-title text-white">{{ event.name|title }} in {{ event.city|title }}</h5>
    <p class="card-text text-white">{{ event.description }}</p>
    <p class="card-text text-white">{{ event.date|date("D, d F Y g:i A") }}</p>
    <p class="card-text text-white">Location: {{ event.city|title }}</p>

    <p class="card-text"><small class="text-white">Tickets available: {{ event.capacity }}</small></p>
    <p class="card-text"><small class="text-white">Category of an event: {{ event.type }}</small></p>
    <p class="card-text"><small class="text-white">Phone Number: +{{ event.phoneNumber }}</small></p>
    <p class="card-text"><small class="text-white">Email: {{ event.email }}</small></p>
    <p class="card-text"><small class="text-white">Go to official Webpage of <a href="{{ event.url }}">{{event.name}} </a></small></p>
  </div>
</div>

</fieldset>
<a href="{{path('index')}}" class="btn btn-primary">Go back</a>
{% endblock %}