{% extends "base.html.twig" %}
  {% block stylesheets %}
            <link rel="stylesheet" href="{{asset("css/createStyle.css")}}">
        {% endblock %}
{% block body %}

<div class="container createStyle">
<h1 class="text-center m-4">Edit a record of an {{event.name}}</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
</div>
{% endblock %}

