{% extends 'base.html.twig' %}

{% block title %}All Events{% endblock %}

{% block stylesheets %}
{# <link rel="stylesheet" href="{{asset("css/style.css")}}"> #}
{% endblock %}

{% block body %}
<h1>All events are shown here</h1>

<h6 class="title text-center header-title">Upcoming events</h6>

<div class="container">
    <div class="row row-cols-3">
        {% for event in events %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="{{asset('picture/' ~ event.picture)}}" alt="" width="100%">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">{{ event.description }}</p>
                <a href="details/{{ event.id }}" class="btn btn-success">Details</a>
                <a href="edit/{{ event.id }}" class="btn btn-warning">Edit</a>
                <a href="delete/{{ event.id }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
         {% else %}
           <h3 class="text-center">There are no upcoming events</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}

 

