{% extends 'base.html.twig' %}

{% block title %}Miscellaneous Events{% endblock %}

  {% block stylesheets %}
            <link rel="stylesheet" href="{{asset("css/events.css")}}">
        {% endblock %}
{% block body %}

<h1 class="title text-center text-white mt-4">Miscellaneous events</h1>

<div class="container">


    <div class="row row-cols-3">
        {% for event in events %}
        <div class="card border-0 m-3  " style="width: 400px;">
            <div class="card-body">

                {# <img src="{{asset('picture/' ~ event.picture)}}" alt="" width="100%"> #}
                <img src="{{asset(event.picture)}}" alt="" width="100%">

                <h5 class="card-title text-white text-center">{{ event.name|title }} in {{ event.city|title }} </h5>
                <p class="card-text">{{ event.description }}</p>
              
                <p>{{ event.date|date("d F Y ") }}</p>
                <a href="details/{{ event.id }}" class="btn btn-success">Details</a>
                <a href="edit/{{ event.id }}" class="btn btn-warning">Edit</a>
                <a href="delete/{{ event.id }}" class="btn btn-danger">Delete</a>

               
            </div>
        </div>


         {% else %}
           <h3 class="text-center">There are no upcoming events</h3>
        {% endfor %}
    </div>
    <a href="{{path('index')}}" class="btn btn-primary">Go back</a>

</div>
{% endblock %}

 

